<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="林大人的小屋 - 用于记录生活的点滴">
	<meta name="keywords" content="生活 博客 记录 林大人 网页 动画 响应式 HTML5 CSS3 Bootstrap Javascript HTML">
	<meta name="author" content="林大人">

	<!-- 网站icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../img/index/icon2.svg">
	<link rel="icon" type="../image/png" href="../img/index/icon2.svg" sizes="16x16">

	<!-- 样式 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- 轮播图两个样式 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" rel="stylesheet">
	<!-- 引入本地样式，需要放至最后，否则将被覆盖 -->
	<link href="../css/home.css" rel="stylesheet">
	<link href="../css/about.css" rel="stylesheet">
	<title>林大人 － Record Life</title>
</head>
<body>
<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse"
				        aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand gradient-text" href="/">
					<img src="../img/index/icon.svg">
					记录生活 - Record Life
				</a>
			</div>
			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav">
					<li><a href="../index.html">首页</a></li>
					<li><a href="../components/Introduction.html">小姐和先生</a></li>
					<li><a href="../components/MissPicture.html">罗小姐的图</a></li>
					<li><a href="../components/Time.html">我们的时间</a></li>
					<li><a href="#">关于的我们</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<section>
	<div class="about-container">
		<div class="title-container card-shadow">
			<div class="title">
				<h4 class="text-center">关于我们</h4>
				<div class="gradient-bg title-border"></div>
			</div>
			<div class="row">
				<div class="col-sm-7 logo scrollimation fade-right">
					<div class="header-title"> 罗小姐与林先生 </div>
					<h2>life. hut.</h2>
					<hr>
					<h4>大大的小屋</h4>
					<div class="addr scrollimation fade-right d2">
						<address>
							【 底格里斯河旁古拉伽什王国境内的伊甸园 】
							<br>
							<span class="hidden-xs">电话：</span><i class="fa fa-phone visible-xs-inline" aria-hidden="true"></i>4008-517-517<br>
							<span class="hidden-xs">邮箱：</span>123456@luo.com
						</address>
					</div>
				</div>
				<div class="col-sm-5 slogon scrollimation fade-left d1">
					<p>- 如果全世界都对你恶语相加，我就对你说上一世情话。</p>
					<p>- 在我目前的计划看来，顺利的话，我们会同居，会去看海，会去遥远的远方，会去看日出日落，不顺利的话，那就晚一点。</p>
					<p>- 我想要的未来，就是每天早上起床，都能看见你和阳光都在。</p>
					<p>- 我喜欢风，无拘无束，我喜欢星辰，安静明亮，我喜欢深海中的鲸，孤独澈净，我喜欢你，没有任何的道理。</p>
					<p>- 没人知道，我有多喜欢你，但身边所有人都知道，我每天张口闭口提的人都是你。</p>
					<p>- 你是我明目张胆的偏袒，是我众所周知的私心。</p>
					<p>- 简约不是少，而是没有多余。足够不是多，而是刚好有你在。</p>
					<div class="text text-right scrollimation fade-left d3">
						<img
							src="../img/index/icon.svg">
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div class="title">
			<h4 class="text-center">手手之路</h4>
			<div class="gradient-bg title-border"></div>
		</div>

		<div id="users" class="users text-center">
			<div class="item">
				<div class="container-icon"><img
					src="../img/about/1.jpg"
					class="img-circle"></div>
				<h4 class="quote-author">第一次的牵手<span></span></h4>
				<p>在一起后的第一次见面，在深圳图书馆内，小心翼翼地牵着。</p>
			</div>
			<div class="item">
				<div class="container-icon"><img
					src="../img/about/2.jpg"
					class="img-circle"></div>
				<h4 class="quote-author">地铁的手手<span></span></h4>
				<p>不知道一起坐过了多少次地铁，牵了多久的手手</p>
			</div>
			<div class="item">
				<div class="container-icon"><img
					src="../img/about/3.jpg"
					class="img-circle"></div>
				<h4 class="quote-author">地铁的手手x2<span></span></h4>
				<p>地铁的手手x2地铁的手手x2地铁的手手x2</p>
			</div>
			<div class="item">
				<div class="container-icon"><img
					src="../img/about/4.jpg"
					class="img-circle"></div>
				<h4 class="quote-author">海边的手手<span></span></h4>
				<p>杨梅抗，向着大海宣布这个决定！</p>
			</div>
			<div class="item">
				<div class="container-icon"><img
					src="../img/about/5.jpg"
					class="img-circle"></div>
				<h4 class="quote-author">发光的手手<span></span></h4>
				<p>林先生偶然发现，这牵着的手手会发光哎（其实是故意的）</p>
			</div>
			<div class="item">
				<div class="container-icon"><img
					src="../img/about/6.jpg"
					class="img-circle"></div>
				<h4 class="quote-author">树下的手手<span></span></h4>
				<p>在公园里，树下，你和我，牵着手手。</p>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="col-sm-12 text-center">
			&copy; 2016-2021 林大大的小屋 版权所有
			<a href="#" target="_blank" class="link">林大人的房间2211号</a>
		</div>
	</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 轮播图事件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- 关于我们动画 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<!-- 瀑布图 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/2.1.07/jquery.masonry.min.js"></script>
<!-- 点击导航滚动事件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>

