<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="林大人的小屋 - 用于记录生活的点滴">
	<meta name="keywords" content="生活 博客 记录 林大人 网页 动画 响应式 HTML5 CSS3 Bootstrap Javascript HTML">
	<meta name="author" content="林大人">

	<!-- 网站icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../img/index/icon2.svg">
	<link rel="icon" type="image/png" href="../img/index/icon2.svg" sizes="16x16">

	<!-- 样式 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- 引入本地样式，需要放至最后，否则将被覆盖 -->
	<link href="../css/home.css" rel="stylesheet">
	<title>林大人 － Record Life</title>
</head>
<body>
<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand gradient-text" href="/">
					<img src="../img/index/icon.svg">
					记录生活 - Record Life
				</a>
			</div>
			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav">
					<li><a href="../index.html">首页</a></li>
					<li><a href="#">小姐和先生</a></li>
					<li><a href="./MissPicture.html">罗小姐的图</a></li>
					<li><a href="./Time.html">我们的时间</a></li>
					<li><a href="./About.html">关于的我们</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!-- 小姐和先生 -->
<section>
	<div class="container">
		<div class="title">
			<h2 class="text-center">小姐和先生</h2>
			<div class="gradient-bg title-border"></div>
		</div>
		<div class="row card-shadow">
			<div class="col-xs-12 col-md-6 service-item">
				<image
					src="../img/introduction/miss.png"
					style="width: 100%; height: 340px;"/>
				<h3>罗小姐</h3>
				<p>
					罗小姐简直是，宛如玉雕冰塑，似梦似幻，娇艳绝伦，貌如西子胜三分，清丽绝俗，冰清玉洁，有如画中天仙 ，灿若明霞，宝润如玉，恍如神妃仙子，
					气质美如兰，才华馥比仙，令人见之忘俗，丰润嫩白，樱桃小口，眉目含情，仿佛太真重临 ，鲜艳妩媚，袅娜风流，柔媚姣俏，粉光脂艳 鬓若刀裁，
					眉如墨画，面如桃瓣，目若秋波，凤眼柳眉，粉面含春，丹唇贝齿，转盼多情，眉目如画，肌肤胜雪，真可谓闭月羞花，娇若春花，媚如秋月，真的能沉鱼落雁，
					闲静如姣花照水，行动似弱柳扶风，体态万千，娇小玲珑，宛如飞燕再世，楚楚动人，鸭蛋秀脸，俊眼修眉，黑发如瀑，风情万种，削肩细腰，身材苗条，
					娇媚动人，顾盼神飞，让人倾倒 丰胸细腰，妖娆多姿，让人一看就心跳不已，粉嫩白至，如芍药笼烟，雾里看花，腮凝新荔，目若秋水，千娇百媚，
					鲜艳妍媚，肌肤莹透，引人遐思，巧笑嫣然，宛约可人，如梨花带露，清新秀丽，风姿楚楚，明丽动人，肌肤微丰，雅淡温宛，清新可人。
				</p>
			</div>
			<div class="col-xs-12 col-md-6 service-item">
				<image
					src="../img/introduction/sir.png"
					style="width: 100%; height: 340px;"/>
				<h3>林先生</h3>
				<p>
					林先生更加是倾国倾城，美丽灵秀，邪媚妖艳，眉目入画，如花似玉，清丽出尘，倾倒世人，妩媚炫目，俏若胭脂，明眸璀璨，凤眸星目，万千风骨，
					完美绝色，瑰资艳逸，花样容颜，凤表龙姿，风流人物，飞鸾翔凤，风流潇洒，龙驹凤雏，龙潜凤采，千里之足，神采英拔，飒爽英姿，一表人材，
					一表人物，英姿勃勃，英姿焕发，英姿飒爽，风流潇洒，一表人材，风度翩翩，英姿飒爽，气宇轩昂，天庭饱满，气宇轩昂，玉树临风，英俊潇洒，
					风流倜傥，貌似潘安，仪表堂堂，地阁方圆，玉树临风，面如冠玉，温润儒雅，唇若抹珠，唇红齿白，风流倜傥，鼻如悬胆，剑眉凤眼，丰神俊朗，剑眉星目，面如傅粉，貌若潘安。
				</p>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="col-sm-12 text-center">
			&copy; 2016-2021 林大大的小屋 版权所有
			<a href="../index.html" class="link">林大人的房间2211号</a>
		</div>
	</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script src="../js/home.js"></script>-->
</body>
</html>

