<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="林大人的小屋 - 用于记录生活的点滴">
	<meta name="keywords" content="生活 博客 记录 林大人 网页 动画 响应式 HTML5 CSS3 Bootstrap Javascript HTML">
	<meta name="author" content="林大人">

	<!-- 网站icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../img/index/icon2.svg">
	<link rel="icon" type="image/png" href="../img/index/icon2.svg" sizes="16x16">

	<!-- 样式 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- 引入本地样式，需要放至最后，否则将被覆盖 -->
	<link href="../css/home.css" rel="stylesheet">
	<link href="../css/miss-picture.css" rel="stylesheet">
	<title>林大人 － Record Life</title>
</head>
<body>
<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand gradient-text" href="/">
					<img src="../img/index/icon.svg">
					记录生活 - Record Life
				</a>
			</div>
			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav">
					<li><a href="../index.html">首页</a></li>
					<li><a href="./Introduction.html">小姐和先生</a></li>
					<li><a href="#">罗小姐的图</a></li>
					<li><a href="./Time.html">我们的时间</a></li>
					<li><a href="./About.html">关于的我们</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="pic-container">
	<div class="title">
		<h4 class="text-center">罗小姐的图</h4>
		<div class="gradient-bg title-border"></div>
	</div>
	<section>
		<div class="container-fluid masonry-wrapper scrollimation fade-in in">
			<div id="projects-container" class="masonry">
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/1.png">
					<img class="img-responsive project-image"
					     src="../img/missPicture/1.png"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">是林先生</h2>
						<p>人儿</p>
					</div>
					<div class="sr-only project-description">
						人儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/2.png">
					<img class="img-responsive project-image"
					     src="../img/missPicture/2.png"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">猪猪</h2>
						<p>动物儿</p>
					</div>
					<div class="sr-only project-description">
						动物儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/3.png">
					<img class="img-responsive project-image"
					     src="../img/missPicture/3.png"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">小红花</h2>
						<p>花儿</p>
					</div>
					<div class="sr-only project-description">
						花儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/4.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/4.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">Orange</h2>
						<p>水果儿</p>
					</div>
					<div class="sr-only project-description">
						水果儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/5.png">
					<img class="img-responsive project-image"
					     src="../img/missPicture/5.png"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">五彩花</h2>
						<p>花儿</p>
					</div>
					<div class="sr-only project-description">
						花儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/6.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/6.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">Sakura</h2>
						<p>花儿</p>
					</div>
					<div class="sr-only project-description">
						花儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/7.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/7.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">Felix Felicis</h2>
						<p>魔法水</p>
					</div>
					<div class="sr-only project-description">
						魔法水
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/8.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/8.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">小猪猪</h2>
						<p>动物儿</p>
					</div>
					<div class="sr-only project-description">
						动物儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/9.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/9.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">可乐</h2>
						<p>汽水儿</p>
					</div>
					<div class="sr-only project-description">
						汽水儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/10.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/10.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">芭菲</h2>
						<p>雪糕儿</p>
					</div>
					<div class="sr-only project-description">
						雪糕儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/11.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/11.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">煎蛋</h2>
						<p>好吃的儿🍳</p>
					</div>
					<div class="sr-only project-description">
						好吃的儿🍳
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/12.png">
					<img class="img-responsive project-image"
					     src="../img/missPicture/12.png"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">小恶魔</h2>
						<p>宝宝儿</p>
					</div>
					<div class="sr-only project-description">
						宝宝儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/13.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/13.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">雪人</h2>
						<p>人儿</p>
					</div>
					<div class="sr-only project-description">
						人儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/14.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/14.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">Roses</h2>
						<p>花儿</p>
					</div>
					<div class="sr-only project-description">
						花儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/15.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/15.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">潘多拉绿盒</h2>
						<p>盒子儿</p>
					</div>
					<div class="sr-only project-description">
						盒子儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/16.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/16.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">大苹果</h2>
						<p>水果儿</p>
					</div>
					<div class="sr-only project-description">
						水果儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/17.jpg">
					<img class="img-responsive project-image"
					     src="../img/missPicture/17.jpg"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">小恶魔2</h2>
						<p>宝宝儿</p>
					</div>
					<div class="sr-only project-description">
						宝宝儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/18.png">
					<img class="img-responsive project-image"
					     src="../img/missPicture/18.png"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">月亮</h2>
						<p>大球儿</p>
					</div>
					<div class="sr-only project-description">
						大球儿
					</div>
				</a>
				<a class="project-item masonry-brick"
				   data-images="../img/missPicture/19.png">
					<img class="img-responsive project-image"
					     src="../img/missPicture/19.png"
					     alt="">
					<div class="hover-mask">
						<h2 class="project-title">太阳</h2>
						<p>大球儿</p>
					</div>
					<div class="sr-only project-description">
						大球儿
					</div>
				</a>
			</div>
		</div>

	</section>
</div>
<!-- 罗小姐的图 -->

<footer>
	<div class="container">
		<div class="col-sm-12 text-center">
			&copy; 2016-2021 林大大的小屋 版权所有
			<a href="../index.html" class="link">林大人的房间2211号</a>
		</div>
	</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 瀑布图 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/2.1.07/jquery.masonry.min.js"></script>
<script src="../js/home.js"></script>
</body>
</html>

